#timeline { height: 3px;
            width: 95%;
            background-color: #000000;
            margin: 200px 0px 20px -200px;
            border: none;
            position: fixed;
}



#line1 {height: 75px;
        width: 2px;
        background-color: #000000;
        border: none;
        position: fixed;
        margin-top: 125px;
}

#tech-blog-1 {font-size: 20px;
              font-family: Verdana;
              color: #000000;
              top: 125px;
              left: 10px;
              position: relative;
              text-decoration: none;

}


#line2 {height: 125px;
        width: 2px;
        background-color: #000000;
        border: none;
        position: fixed;
        margin-top: 200px;
        margin-left: 75px;
}

#culture-blog-1 {font-size: 20px;
                 font-family: Verdana;
                 color: #000000;
                 top: 300px;
                 left: -140px;
                 position: relative;
                 text-decoration: none;
}


#line3



#line4



#line5
