#timeline { height: 3px;
            width: 95%;
            background-color: #000000;
            margin: 200px 0px 20px -200px;
            border: none;
            position: fixed;
}



#line1 {height: 100px;
        width: 2px;
        background-color: #000000;
        border: none;
        position: fixed;
        margin-top: 100px;
}



#line2 {height: 100px;
        width: 2px;
        background-color: #000000;
        border: none;
        position: fixed;
        margin-top: 200px;
        margin-left: 200px;
}



#line3



#line4



#line5