body  {height: 620px;
}

#header { height: 80px;
          width: 100%;
          background-color: #969696;
          opacity: .4;
          position: fixed;
          top: 0px;
          left: 0px;

}

#name { font-size: 45px;
        font-family: Verdana;
        color: #000000;
        position: fixed;
        top: -30px;
        margin-left: 2%;
}

#quote {font-size: 20px;
        font-family: Verdana;
        color: #000000;
        position: fixed;
        top: 30px;
        margin-left: 2%;
}

main {margin-top: 80px;
      margin-left: 18%;
      position: fixed;
}

#projects { height: 600px;
            width: 218px;
}

#about {height: 600px;
        width: 138px;
}

#blog { height: 600px;
        width: 443px;
}

#footer {height: 40px;
          width: 100%;
          background-color: #969696;
          opacity: .4;
          position: fixed;
          bottom: 0px;
          left: 0px;
}

#email {height: 21px;
        width: 30px;
        margin-left: 10%;
        bottom: 4.5px;
        position: fixed;
}

#linkedin { height:30px;
            width: 30px;
            margin-left: 35%;
            bottom: 0px;
            position: fixed;
}

#github { height: 30px;
          width: 30px;
          margin-left: 61%;
          bottom: 0px;
          position: fixed;
}

#twitter {height: 30px;
          width: 30px;
          margin-left: 86%;
          bottom: 0px;
          position: fixed;
}