#header { height: 50px;
          width: 100%;
          background-color: #969696;

}

#projects { height: 700px;
            width: 254px;
}

#about {height: 700px;
        width: 162px;
}

#blog { height: 700px;
        width: 517px;}