<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="mailto: {{ site.email }}">
              <span class="icon  icon--email">
                <img src = "/images/email.png" height = "21" width = "30">
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href = "https://www.linkedin.com/pub/edwin-unger/91/b04/51b">
              <span class="icon  icon--linkedin">
                <img src = "/images/linkedin.png" height = "30" width = "30">
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                <img src = "/images/github.png" height = "30" width = "30">
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-4">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
                <img src = "/images/twitter.png" height = "30" width = "30">
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-5">
        <ul class="social-media-list">
          <li>
            <a href = "https://www.facebook.com/edwin.unger">
              <span class="icon  icon--facebook">
                <img src = "/images/facebook.png" height = "30" width = "30">
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-6">
        <ul class="social-media-list">
          <li>
            <a href = "https://plus.google.com/108288179699600989941">
              <span class="icon  icon--google">
                <img src = "/images/google.png" height = "30" width = "30">
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-7">
        <ul class="social-media-list">
          <li>
            <a href = "https://www.pinterest.com/edwinunger/coding-programming/">
              <span class="icon  icon--pinterest">
                <img src = "/images/pinterest.png" height = "30" width = "30">
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-8">
        <ul class="social-media-list">
          <li>
            <a href = "https://www.icloud.com/photostream/#A7532ODWGLE4JJ">
              <span class="icon  icon--cloud">
                <img src = "/images/cloud.png" height = "30" width = "30">
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-9">
        <p class="text" text-align="center">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
