

.create-button{
  color: black;
  background-color: white;
  position: relative;
  display: inline;
  margin-left: 9.5%;
  border-radius: 50%;
  padding: 10px;

}

.read-button{
  color: black;
  background-color: white;
  position: relative;
  display: inline;
  margin-left: 9.5%;
  border-radius: 50%;
  padding: 10px;
}

.update-button{
  color: black;
  background-color: white;
  position: relative;
  display: inline;
  margin-left: 9.5%;
  border-radius: 50%;
  padding: 10px;
}

.delete-button{
  color: black;
  background-color: white;
  position: relative;
  display: inline;
  margin-left: 9.5%;
  border-radius: 50%;
  padding: 10px;
}

.cheat-sheet{
  background-color: black;
  margin: 15%, 15%, 15%, 15%;
  color: white;
}

.cheat-sheet p{
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.heading{
  font-size: 30px;
  font-weight: 100;
}

.delete{
  margin-bottom: 10%;
}

.code{
  color: yellow;
}