body  {height: 620px;
}

#header { height: 10%;
          width: 100%;
          background-color: #969696;
          opacity: .4;
          position: fixed;
          top: 0px;
          left: 0px;

}

#name { font-size: 2.813em;
        font-family: Verdana;
        color: #000000;
        position: fixed;
        top: -40px;
        margin-left: 2%;
}

#quote {font-size: 0.938em;
        font-family: Verdana;
        color: #000000;
        position: fixed;
        top: 40px;
        margin-left: 2%;
}

main {position: relative;
      top: 50%;
      left: 50%;
      margin-top: -295px;
      margin-left: -400px;
      z-index: -1;

}

#projects { height: 60%;
            width: 21.8%;
}

#about {height: 60%;
        width: 13.8%;
}

#blog { height: 60%;
        width: 44.3%;
}

#footer {height: 40px;
          width: 100%;
          background-color: #969696;
          opacity: .4;
          position: fixed;
          bottom: 0px;
          left: 0px;
}

#email {height: 21px;
        width: 30px;
        margin-left: 10%;
        bottom: 4.5px;
        position: fixed;
}

#linkedin { height:30px;
            width: 30px;
            margin-left: 35%;
            bottom: 0px;
            position: fixed;
}

#github { height: 30px;
          width: 30px;
          margin-left: 61%;
          bottom: 0px;
          position: fixed;
}

#twitter {height: 30px;
          width: 30px;
          margin-left: 86%;
          bottom: 0px;
          position: fixed;
}

#timeline { height: 3px;
            width: 95%;
            background-color: #000000;
            margin: 200px 0px 20px -200px;
            border: none;
            position: fixed;
}



#line1 {height: 75px;
        width: 2px;
        background-color: #000000;
        border: none;
        position: fixed;
        margin-top: 125px;
}

#tech-blog-1 {font-size: 20px;
              font-family: Verdana;
              color: #000000;
              top: 125px;
              left: 10px;
              position: relative;
}

a {text-decoration: none;
}

#line2 {height: 125px;
        width: 2px;
        background-color: #000000;
        border: none;
        position: fixed;
        margin-top: 200px;
        margin-left: 75px;
        margin-right: 0px;
}

#culture-blog-1 {font-size: 20px;
                 font-family: Verdana;
                 color: #000000;
                 top: 300px;
                 left: -160px;
                 position: relative;
                 text-decoration: none;
}


#line3 {height: 125px;
        width: 2px;
        background-color: #000000;
        border: none;
        position: fixed;
        margin-top: 125px;
        left: 400px;

}

#line4 {}

#line5

.sidebar-box {
  height: 120px;
  position: relative;
  overflow: hidden;
}
.sidebar-box .read-more {
  position: absolute;
  bottom: 100px;
  left: 500px;
  width: 10%;
  text-align: justify;
  margin: 0; padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, black);
}