/*Whole Document*/

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

/*Header*/

.header {
  height: 10%;
  width: 100%;
  background-color: #969696;
  opacity: .4;
  position: fixed;
  top: 0%;
  left: 0%;
}

.name {
  font-size: 2.813em;
  font-family: Verdana;
  color: #000000;
  position: fixed;
  margin-top: 0%;
  top: 0%;
  left: 2%;
}

.quote {font-size: 0.938em;
        font-family: Verdana;
        color: #000000;
        position: fixed;
        top: 5%;
        margin-left: 2%;
}

/*Main*/

.image {
  min-height: auto;
  min-width: 1280px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
  margin-left: 0px;
  background-repeat:no-repeat;
  background-size: cover;
  background-size: contain;

}

/* .projects { height: auto;
            width: auto;
}

.about {height: auto;
        width: auto;
}

.blog { height: auto;
        width: auto;
} */

/*Footer*/

.footer {height: 40px;
          width: 100%;
          background-color: #969696;
          opacity: .4;
          position: fixed;
          bottom: 0px;
          left: 0px;
}

.email {height: 21px;
        width: 30px;
        margin-left: 10%;
        bottom: 4.5px;
        position: fixed;
}

.linkedin { height:30px;
            width: 30px;
            margin-left: 35%;
            bottom: 0px;
            position: fixed;
}

.github { height: 30px;
          width: 30px;
          margin-left: 61%;
          bottom: 0px;
          position: fixed;
}

.twitter {height: 30px;
          width: 30px;
          margin-left: 86%;
          bottom: 0px;
          position: fixed;
}


/*Blog*/

.timeline { height: 3px;
            width: 100%;
            background-color: #000000;
            margin: 200px 0px 0px -8px;
            border: none;
            position: fixed;
}



.line1 {
  height: 75px;
  width: 2px;
  background-color: #000000;
  border: none;
  position: fixed;
  margin-top: 125px;
}

.tech-blog-1 {
  font-size: 20px;
  font-family: Verdana;
  color: #000000;
  top: 130px;
  left: 15px;
  position: absolute;
}

.line2 {
  height: 125px;
  width: 2px;
  background-color: #000000;
  border: none;
  position: fixed;
  margin-top: 200px;
  margin-left: 60px;
  margin-right: 0px;
}

.culture-blog-1 {
  font-size: 20px;
  font-family: Verdana;
  color: #000000;
  top: 310px;
  left: 75px;
  position: absolute;
  text-decoration: none;
}

.line3 {
  height: 125px;
  width: 2px;
  background-color: #000000;
  border: none;
  position: fixed;
  margin-top: 75px;
  left: 300px;
}

.tech-blog-2 {
  font-size: 20px;
  font-family: Verdana;
  color: #000000;
  top: 80px;
  left: 305px;
  position: absolute;
  text-decoration: none;}

.line4 {
  height: 300px;
  width: 2px;
  background-color: #000000;
  border: none;
  position: fixed;
  margin-top: 200px;
  margin-left: 385px;
  margin-right: 0px;
}

.gps-1-2 {
  font-size: 20px;
  font-family: Verdana;
  color: #000000;
  top: 485px;
  left: 400px;
  position: absolute;
  text-decoration: none;
}

.line5 {
  height: 200px;
  width: 2px;
  background-color: #000000;
  border: none;
  position: fixed;
  margin-top: 200px;
  margin-left: 425px;
  margin-right: 0px;
}

.line6 {
  height: 50px;
  width: 2px;
  background-color: #000000;
  border: none;
  position: fixed;
  margin-top: 150px;
  left: 325px;
}