/*Whole Document*/
html {
  background: url(https://github.com/edwinunger/edwinunger.github.io/blob/master/images/background.png?raw=true) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: TOSCA ZERO;
  src: url(http://edwinunger.github.io/images/TOSCA___.otf);
}

.portfolio-link {
  position: fixed;
  top: 10%;
  left: 0%;
  bottom: 5%;
  width: 27%;
  height: 85%;
  background-color: transparent;
  color: transparent;
}

.portfolio-link:hover {
  color: #ffffff;
}

.portfolio-link p {
  font-family: TOSCA ZERO;
  text-align: center;
  font-size: 3em;
}

.about-link {
  position: fixed;
  top: 10%;
  left: 27%;
  bottom: 5%;
  width: 17%;
  height: 85%;
  background-color: transparent;
  color: transparent;
}

.about-link:hover {
  color: #ffffff;
}

.about-link p {
  font-family: TOSCA ZERO;
  text-align: center;
  font-size: 3em;
}

.blog-link {
  position: fixed;
  top: 10%;
  left: 44%;
  bottom: 5%;
  width: 56%;
  height: 85%;
  background-color: transparent;
  color: transparent;
}

.blog-link:hover {
  color: #ffffff;
}

.blog-link p {
  font-family: TOSCA ZERO;
  text-align: center;
  font-size: 3em;
}

a {
  text-decoration: none;
}

/*Header*/

.header {
  height: 10%;
  width: 100%;
  background-color: #969696;
  opacity: .4;
  position: fixed;
  top: 0%;
  left: 0%;
}

.name {
  font-size: 2.813em;
  font-family: Verdana;
  color: #ffffff;
  position: fixed;
  margin: 0;
  top: 0%;
  left: 2%;
}

.quote {
  font-size: 0.938em;
  font-family: Verdana;
  color: #ffffff;
  position: fixed;
  top: 5%;
  margin-left: 2%;
}

/*Footer*/

.footer {
  height: 5%;
  width: 100%;
  background-color: #969696;
  opacity: .4;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.email {
  height: 21px;
  width: 30px;
  margin-left: 10%;
  bottom: 4.5px;
  position: fixed;
}

.linkedin {
  height:30px;
  width: 30px;
  margin-left: 35%;
  bottom: 0px;
  position: fixed;
}

.github {
  height: 30px;
  width: 30px;
  margin-left: 61%;
  bottom: 0px;
  position: fixed;
}

.twitter {
  height: 30px;
  width: 30px;
  margin-left: 86%;
  bottom: 0px;
  position: fixed;
}


/*Blog*/

.timeline {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  margin: 200px 0px 0px -8px;
  border: none;
  position: fixed;
}



.line1 {
  height: 75px;
  width: 2px;
  background-color: #ffffff;
  border: none;
  position: fixed;
  margin-top: 125px;
}

.tech-blog-1 {
  font-size: 20px;
  font-family: Verdana;
  color: #ffffff;
  top: 130px;
  left: 15px;
  position: absolute;
}

.line2 {
  height: 125px;
  width: 2px;
  background-color: #ffffff;
  border: none;
  position: fixed;
  margin-top: 200px;
  margin-left: 60px;
  margin-right: 0px;
}

.culture-blog-1 {
  font-size: 20px;
  font-family: Verdana;
  color: #ffffff;
  top: 310px;
  left: 75px;
  position: absolute;
  text-decoration: none;
}

.line3 {
  height: 125px;
  width: 2px;
  background-color: #ffffff;
  border: none;
  position: fixed;
  margin-top: 75px;
  left: 300px;
}

.tech-blog-2 {
  font-size: 20px;
  font-family: Verdana;
  color: #ffffff;
  top: 80px;
  left: 305px;
  position: absolute;
  text-decoration: none;}

.line4 {
  height: 300px;
  width: 2px;
  background-color: #ffffff;
  border: none;
  position: fixed;
  margin-top: 200px;
  margin-left: 385px;
  margin-right: 0px;
}

.gps-1-2 {
  font-size: 20px;
  font-family: Verdana;
  color: #ffffff;
  top: 485px;
  left: 400px;
  position: absolute;
  text-decoration: none;
}

.line5 {
  height: 200px;
  width: 2px;
  background-color: #ffffff;
  border: none;
  position: fixed;
  margin-top: 200px;
  margin-left: 425px;
  margin-right: 0px;
}

.tech-blog-3 {
  font-size: 20px;
  font-family: Verdana;
  color: #ffffff;
  top: 155px;
  left: 335px;
  position: absolute;
  text-decoration: none;
}

.line6 {
  height: 50px;
  width: 2px;
  background-color: #ffffff;
  border: none;
  position: fixed;
  margin-top: 150px;
  left: 325px;
}

code {
  background-color: #000000;
  font-size: 20px;
}